<!-- by TEO YU JIE -->

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/login.css">
</head>

<body>
    <div class="loginContainer">
        <h2>Login</h2>
        <p>Please fill in your email and password.</p>
        <form method="POST" action="{% url 'loginPage' %}">
            {% csrf_token %}
            <form id="login-form">
                <div class="inputGroup">
                    <label for="email">Email Address:</label>
                    <input type="email" id="email" name="email" required>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Submit</button>
                {% if isError %}
                <p class="errorMessage">Please enter a correct username and password.</p>
                {% endif %}
            </form>
            {% comment %} <p class="registerLink">Don't have an account? <a href="{% url 'signup' %}">Register here</a></p> {% endcomment %}
    </div>
    <!-- <script src="../static/js/login.js"></script> -->
</body>

</html>